<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script type="text/javascript" src="/javascripts/chartjs-annotations-plugin.js"></script>
<script type="text/javascript" src="/javascripts/analysemain.js"></script>

<h1>Détection d'évenement</h1>
<div style="{position:fixed; top:15px; right:15px; font-size:25px;}" id="rupture"></div>
<div id="myDiv">
	<canvas />
</div>


