
<body>

<div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
  //  var plotly = require('plotly');


    //var data = [
      //  {
   //         x: JSON.parse({{x}}),
    //        y: JSON.parse({{y}}),
       //     type: 'scatter'
     //   }
   // ];

    //plotly.newPlot('myDiv', data);


</script>
</body>

