<script type="text/javascript" src="/javascripts/deps/cesium.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/cesium-widgets.css"/>

<h1>Poulet</h1>
<div id="cesiumContainer">
	
</div>
