<script type="text/javascript" src="/javascripts/Cesium.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/cesium-widgets.css"/>

<h1>Flight review</h1>
<div id="cesiumContainer">
	
</div>
